@import "tailwindcss";

@layer base {
  body {
    @apply font-mono bg-black text-zinc-100 antialiased selection:bg-emerald-500 selection:text-black;
  }

  /* Force sharp rectangular edges for IBM Carbon aesthetic */
  * {
    border-radius: 0px !important;
  }
}

/* IBM Carbon Subtle Grid Background */
.ibm-grid-bg {
  background-size: 24px 24px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}

/* Custom CLI Monospace Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border: 1px solid #3f3f46;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
